<!DOCTYPE html>
<html>
    <head>
        <title>Client List</title>
    </head>
    <body>
        <h1>Clients</h1>
        <table>
            <tr>
                <th>Client ID</th>
                <th>Sales Employee ID</th>
                <th>Project ID</th>
            </tr>
            {% for client in clients | sort(attribute='clientId') %}
                <tr>
                    <td>{{ client.clientId }}</td>
                    <td>{{ client.salesEmpId }}</td>
                    <td>{{ client.projectId }}</td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>